In [19]:
import pandas as pd 
data = pd.read_csv('data/merged_data.csv', sep=';')

In [17]:
#COnvert annais as int
data['annais'] = data['annais'].astype(int)

In [18]:
data

         sexe        preusuel  annais  dpt  nombre
0           1  _PRENOMS_RARES    2000   54      78
1           1  _PRENOMS_RARES    2001   54      77
2           1  _PRENOMS_RARES    2002   54     103
3           1  _PRENOMS_RARES    2003   54     113
4           1  _PRENOMS_RARES    2004   54      91
...       ...             ...     ...  ...     ...
1079371     2             ZOÉ    2016   32       4
1079372     2             ZOÉ    2017   32       3
1079373     2             ZOÉ    2018   32       3
1079374     2             ZOÉ    2019   32       3
1079375     2             ZOÉ    2021   32       6

[1079376 rows x 5 columns]