In [19]:
import pandas as pd 
data = pd.read_csv('data/merged_data.csv', sep=';')

In [17]:
#COnvert annais as int
data['annais'] = data['annais'].astype(int)

In [35]:
import pandas as pd
import geopandas as gpd

# Load your GeoJSON file
geojson_path = 'data/departements.geojson'
gdf = gpd.read_file(geojson_path)

# Extract code and nom properties
code_nom_df = gdf[['code', 'nom']]

# Load your DataFrame dpt (assuming it has a 'code' column)
dpt = pd.read_csv('data/merged_data.csv', sep=';')

# Ensure the 'dpt' column has the same data type as 'code' column
dpt['dpt'] = dpt['dpt'].astype(str)  

# Join the DataFrame dpt with the code_nom_df
dpt_with_nom = dpt.merge(code_nom_df, left_on='dpt', right_on='code', how='left')

# Replace dpt information with name
dpt_with_nom.drop(columns=['dpt'], inplace=True)  # Drop the existing 'dpt' column
dpt_with_nom.rename(columns={'nom': 'dpt'}, inplace=True)  # Rename the 'nom' column to 'dpt'

# Now your DataFrame dpt_with_nom should have the replaced information
print(dpt_with_nom.head())

   sexe        preusuel  annais  nombre code                 dpt
0     1  _PRENOMS_RARES    2000      78   54  Meurthe-et-Moselle
1     1  _PRENOMS_RARES    2001      77   54  Meurthe-et-Moselle
2     1  _PRENOMS_RARES    2002     103   54  Meurthe-et-Moselle
3     1  _PRENOMS_RARES    2003     113   54  Meurthe-et-Moselle
4     1  _PRENOMS_RARES    2004      91   54  Meurthe-et-Moselle

In [32]:
gdf

,code,nom,geometry
0,02,Aisne,"POLYGON ((3.17270 50.01200, 3.18220 50.01234, ..."
1,10,Aube,"POLYGON ((3.41479 48.39027, 3.42208 48.41334, ..."
2,14,Calvados,"POLYGON ((-1.11962 49.35557, -1.11503 49.36240..."
3,15,Cantal,"POLYGON ((2.50841 45.47850, 2.52444 45.48070, ..."
4,28,Eure-et-Loir,"POLYGON ((0.81482 48.67016, 0.82767 48.68072, ..."
...,...,...,...
91,41,Loir-et-Cher,"POLYGON ((0.84122 48.10306, 0.87588 48.10943, ..."
92,53,Mayenne,"POLYGON ((-0.86036 48.50146, -0.84611 48.49828..."
93,54,Meurthe-et-Moselle,"MULTIPOLYGON (((5.45556 49.48093, 5.44953 49.4..."
94,79,Deux-Sèvres,"POLYGON ((-0.89196 46.97582, -0.87973 46.97580..."
95,90,Territoire de Belfort,"POLYGON ((6.82353 47.81305, 6.83931 47.82478, ..."